@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-bold;
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Forum;
  src: url(fonts/Forum.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #0c0c0e;
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-family: Forum;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navTable {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: Inter;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}

.navTable ul li:hover {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.iconProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  position: relative;
  display: flex;
  height: 600px;
  background-image: url(assets/welcome.png);
  background-size: cover;
  background-position: center;
  align-items: center;
}

.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
  background: linear-gradient(#0c0c0e, transparent);
}

.burger_icon {
  display: none;
  width: 45px;
  height: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 220px;
  margin-top: 56px;
  color: white;
  font-family: Forum;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  background: #0c0c0e;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.favorites {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 60px;
}

.favorites {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 60px;
}

.favorites_text {
  font-size: 20px;
  font-family: Inter-bold;
}

.border_line_favorites {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin-top: 30px;
  margin-bottom: 55px;
  margin: 20px 0px 0px 10px;
}

.img_favorites {
  /* display: flex; */
  width: 200px;
  position: absolute;
  bottom: 0;
  right: -40px;
}

.radio_wrap {
  display: flex;
  gap: 90px;
  margin-top: 40px;
}

input[type="radio"] {
  accent-color: black;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 220px;
  margin-top: 40px;
}

.book {
  position: relative;
  width: calc(50% - 110px);
  padding: 4px 170px 20px 20px;
  border: 1px solid #000;
}

.staff_picks {
  font-family: Forum;
  font-size: 20px;
  line-height: 40px;
}

.staff_picks_line {
  background-color: #bb945f;
  width: 60px;
  height: 0.5px;
}

.book_title {
  margin-top: 30px;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
}

.book_subtitle {
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
}

.book_description {
  margin-bottom: 20px;
  font-family: Inter;
  font-size: 15px;
  line-height: 40px;
}

.book_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 2px;
  font-family: Inter;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.book_img {
  width: 200px;
  position: absolute;
  bottom: -1px;
  right: -40px;
}

h2 {
  font-family: Forum;
  line-height: 40px;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #0c0c0e;
  font-size: 40px;
  text-align: center;
}

.border_line_about {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 1px;
  background: #0c0c0e;
  margin-top: 30px;
  margin-bottom: 55px;
  margin: 20px 0px 10px 30px;
}

.text_about {
  text-align: center;
  font-size: 20px;
  color: #0c0c0e;
  font-family: Inter;
  line-height: 40px;
  letter-spacing: 0%;
  padding-top: 30px;
}

.img_about {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.item_img {
  height: 97.72%;
  width: 31.25%;
}

.round_buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.active_button {
  background: #bb945f;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.secondary_buttons {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #0c0c0e;
  cursor: pointer;
}

.transparent_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.footer_wrap {
  padding: 20px 20px 60px;
  background: #0c0c0e;
}

.main_footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.footer_address {
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
}

.foter {
  display: flex;
  justify-content: space-between;
}

.smm_icons {
  display: flex;
  margin-top: 10px;
}

.smm_icons ul {
  gap: 20px;
}

.footer_schedule {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.text_end {
  text-align: end;
}

.border_line_footer {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 46px;
}

.footer_line3 {
  flex: 0 1 100%;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}

.item2 {
  text-align: center;
}

.item3 {
  text-align: right;
}

.buttons_on_mobile {
  display: none;
}

.img_on_mobile {
  display: none;
}

/* .item2 {
  padding-left: 50px;
} */

@media screen and (max-width: 1024px) {
  .buttons_on_mobile {
    display: flex;
  }

  .round_buttons {
    margin-top: 24px;
  }

  .text_about {
    margin-left: 30px;
    margin-right: 30px;
  }

  .img_on_mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .img_about {
    overflow: hidden;
    width: 450px;
    max-width: 100%;
  }

  .item_img {
    width: 100%;
  }

  .burger_icon {
    display: flex;
    align-items: center;
  }

  .navTable {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .book {
    width: 100%;
  }
}

/* .item2 {
  padding-right: 50px;
} */
